
h1 {
    font-family: 'Lora', serif;
    color: $black;
    font-size: 8rem;
    letter-spacing: 0;
    line-height: 92px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    z-index: 20;
    position: relative;
    top: -50px
}

main {
    background-color: $white-shade;
}

