//some general section styles 

h2 {
    font-family: 'Roboto', sans-serif;
    color: $black;
    font-size: 4.2rem;
    letter-spacing: 1px;
    font-weight: bold;
}

h3 {
    font-family: 'Roboto', sans-serif;
    color: $black;
    font-size: 3.2rem;
    letter-spacing: 1px;
    font-weight: bold;
}


// styling "Who is Sophie?" section aka the first "find-out-more" section. 

